.indexContainer {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(400px, 12fr) minmax(300px, 7fr);
  column-gap: 1.2rem;
  max-width: 1150px;
  justify-content: center;
  justify-items: center;
}
.globalContainer {
  display: flex;
  justify-content: center;
  width: 100;
  margin-top: 24px;
  /* margin: 24px; */
}
.card {
  border-radius: 12.8px;
  background-color: white;
  width: 100%;
}
.cardInfoProfile {
  margin-bottom: 8px;
  border-radius: 12.8px;
  background-color: white;
  max-width: 225px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.cardInfoProfile > div:last-child > div {
  border-bottom-left-radius: 12.8px;
  border-bottom-right-radius: 12.8px;
}

.itemCard {
  padding: 12px;
}
.itemCardLink {
  padding: 12px;
}
.itemCardLink:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.boderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.coverPhotoContainer {
  margin: -12px -12px 0 -12px;
}
.coverPhoto {
  border-top-left-radius: 12.8px;
  border-top-right-radius: 12.8px;
  height: 56.25px;
}
.profilePhoto {
  border-radius: 60px;
  border: 1px solid #fff !important;
}
.profilePhotoContainer {
  margin-top: -35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.userName {
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-size: 25.6;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 600;
}
.userDescription {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12.2px;
  margin-top: 8px;
}
.py_13 {
  padding-top: 13px;
  padding-bottom: 13px;
}
.liProfile {
  list-style-type: none;
  padding: 7px 12px 7px 12px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11.5px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.liProfile:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.buyPremium {
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: 600;
}
.buyPremium:hover {
  color: #0a66c2;
}
.liGroupsAndEvents {
  list-style-type: none;
  padding: 7px 12px 7px 12px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11.5px;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}
.liGroupsAndEvents:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.1);
}
.titleGroupsAndEvents {
  padding: 7px 12px 7px 12px;
  margin-top: 7px;
  margin-bottom: 0;
}
.titleGroupsAndEvents p {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
}
.titleGroupsAndEvents a {
  margin: 0;
  color: #0a66c2;
  font-size: 12px;
  font-weight: 600;
}
.titleGroupsAndEvents:hover {
  text-decoration-line: underline;
  text-decoration: solid;
  cursor: pointer;
}
.titleGroupsAndEvents:hover a {
  text-decoration: underline;
}
.titleGroupsAndEvents a:hover {
  margin: 0;
  color: red;
  text-decoration-line: underline;
  text-decoration: solid;
  text-decoration-color: red;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.columnFeed {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardFeed {
  margin-bottom: 8px;
  border-radius: 12.8px;
  background-color: white;
  width: 100%;
  min-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.createPost {
  padding: 8px 16px 4px 16px;
}
.createPostButton {
  width: 100%;
  margin-left: 10px;
  background-color: #fff;
  padding: 10px 8px 10px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 550;
  font-size: 14.5px;
  text-align: left;
}
.createPostButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.w100 {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
}
.containerTypePostButton {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.typePostButton {
  background-color: #fff;
  padding: 0px 8px 0px 8px;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.typePostButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.typePostButtonCircle {
  background-color: #fff;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.typePostButtonCircle:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.typePostButton p {
  margin-left: 12px;
  font-size: 14.5px;
  font-weight: 600;
}
.orderContainer {
  display: flex;
  align-content: center;
}
.borderOrder {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 15px 0px;
}

.textAddContacts {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  display: flex;
  align-items: center;
}
.nameAddContacts {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.followButton {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.followButton:hover {
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0 12px !important;
}
.addFeed {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .indexContainer {
    width: 960px;
    grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  }
}
@media (max-width: 992px) {
  .indexContainer {
    grid-template-columns: minmax(0, 7fr) minmax(0, 17fr);
  }
  .indexContainer {
    width: 720px;
  }
  .AddFriends {
    display: none;
  }
}
@media (max-width: 768px) {
  .indexContainer {
    grid-template-columns: minmax(0, 1fr);
  }
  .infoProfile {
    display: none;
  }
}
